<p *ngIf='allActivitiesLen < 1 && !isLoading'>No Activties Available</p>

<div class="row">
  <div class='isloading' *ngIf='isLoading'><img class='loading-img' src="/assets/img/Spinner-Loading.gif" alt=""></div>
  <div class="col-md-6 cardViews" *ngFor="let activity of allActivities; let i = index">
    <mat-card class='cards'>
      <mat-card-header>
        <mat-card-title>
          <span>{{activity.dayName | uppercase}} <div class='activity-date' style='display: inline-block'>
              {{activity.date}}</div></span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="myDay-Card-clock-svg">
          <div class=' widthyBox' style=' max-width:100%; height:100%; width:100%' [ngStyle]="">
            <img src="https://cdn0.iconfinder.com/data/icons/time-42/1000/Time-05-512.png" alt="clock-icon"
              height='15px' width='max-width: 20px'>
            <span class='span-total-hours'>TOTAL Hours of Your Tasks: {{activity.totalHours}}</span>
          </div>
          <div class='cardsImgs'>
            <img src="/assets/img/clock.png" alt="" srcset="">
          </div>
          <div class='my-day-svg-boxs' *ngFor="let activityList of activity['activities'];  let i = index">
            <div class="list-group-boxs">
              <div class="boxs"><span>{{activityList.name | uppercase}}</span></div>
              <div class="list-box-color">
                <div class=' widthyBox' style=' max-width:100%; height:100%'
                  [ngStyle]="{'width.%': (activityList.hours*4.16), 'background-color': addingBackGroundColor(i)}">
                  <img src="https://cdn0.iconfinder.com/data/icons/time-42/1000/Time-05-512.png" alt="clock-icon"
                    height='20px' width='max-width: 10px'>
                  <span *ngIf='activityList.hours > 2' style=' max-width: 20px'>
                    {{activityList.hours}}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <mat-card-actions>
            <button type="button" mat-button color='warn' (click)='deleteCards(activity.id)'>Delete Card</button>
          </mat-card-actions>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
