<div class="row" style='height: 100vh'>
  <div class="col-lg-6 main-left">
    <div class="main-title">
      <span>Activities Card</span>
      <p>Create Your Cards for your Day Activities</p>
    </div>
    <div class="">
      <img src="/assets/img/Card.png" class='mat-elevation-z4' alt="card">
    </div>
  </div>
  <div class="col-lg-6 main-right">
    <p>Time management is the process of organizing and planning how to divide your time between specific activities.
      Good time management enables you to work smarter – not harder – so that you get more done in less time</p>
    <button type="submit" mat-button color="primary" class='mat-elevation-z4' (click)='onJoinUs()'>Join us</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    12
  </div>
</div>
