.main-left {
  background-color: #f1f4f9;
  display: grid;
  justify-content: center;
  img {
    width: 75%;
  }
}
.main-right {
  display: grid;
  place-items: center;
  p {
    align-self: end;
    color: #3f51b5;
    font-weight: 400;
    width: 75%;
    padding-bottom: 10%;
    font-size:120%;
  }
  button {
    padding: 0 90px;
    background-color: #e8e2f5;
    align-self: start;
  }
}

.main-title {
  align-self: end;
  span, p {
    font-size:150%;
    color:#3f51b5 ;

  }
  padding: 20px;
}
