<div class="wrapper ">
  <div class="container-fluid">
    <app-header [sideNav]="sidenav"></app-header>
  </div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <nav>
        <a mat-button class="nav-link" *ngFor="let link of links" [routerLink]="link.path" routerLinkActive="active">
          <mat-icon>{{link.icon}}</mat-icon>
          {{link.title}}
        </a>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
