
mat-card-actions{
  padding-top: 32px;
  text-align: center;
}
.activity-date {
  text-align: end;
  padding-bottom: 20px;
  padding-right: 20px;
  color: #1e87b7;
  font-size: 15px;
  font-weight: 800;
}
