html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
  width: 100%;
}

// * {
//   border: 1px solid red;
// }


mat-card {
  background-color: #fff;
  color: black;
  width: 100%;
  font-family: 'Roboto,Helvetica,Arial,sans-serif';
  margin-top: 1%;
  height: 100%;
}

mat-card-title{
  font-size: 20px !important;
}

.myDay-Card-clock-svg {
  display: grid;
  gap:6px;

}

.my-day-svg {
  padding-left: 2%;
}

.list-group-boxs {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 7px;
}
.list-box-color {
  div {
    height: 100%;
  }
}
.boxs {
  padding-left:30px;
}

mat-card-title span {
  border-bottom: 1px solid gold;
  padding-bottom: 2%;
}


.mat-slider-horizontal {
  min-width: 100%;
}


.widthyBox {
  width: 3px;
  transition: width 0.5s;
  img {
    padding-left: 5%;
  }
}

.totatHoursPrevent {
  margin:1%;
  padding: 2%;
  color:#f44336 ;
  background-color: #fdc9c56b;
}

mat-card-actions{
  padding-top: 32px;
  text-align: center;
}
.activity-date {

  padding-bottom: 20px;
  // padding-right: 20px;
  color: #1e87b7;
  font-size: 15px;
  font-weight: 800;
}

.soical-media-icons{
  width: 10%;
}

nav {
  height: 100%;
}

.nav-link-soical-media {
  position: relative;
  top: 30vh;
}
